@tailwind base;
@tailwind components;
@tailwind utilities;



/* Buttons */
.btn,
.btn-lg,
.btn-sm,
.btn-xs {
  @apply font-medium text-sm inline-flex items-center justify-center  rounded leading-5 shadow-sm transition duration-150 ease-in-out;
}

.btn {
  @apply px-3.5 py-2.5;
}

.btn-lg {
  @apply px-5 py-3.5;
}

.btn-sm {
  @apply px-2 py-1;
}

.btn-xs {
  @apply px-2 py-0.5;
}

/* estilo da barra de rolagem */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  border-radius: 5px;
}

/* estilo da trilha */
::-webkit-scrollbar-track {
  background: #FFF;
}

/* estilo da thumb */
::-webkit-scrollbar-thumb {
  background: #999;
  border-radius: 5px;
}






